datacenter = "dc1"
data_dir = "{{ consul_data_dir }}"
bind_addr = "{{ ansible_host }}"
advertise_addr = "{{ ansible_host }}"
ui = {{ consul_ui | lower }}

client_addr = "0.0.0.0"
connect {
  enabled = true
}
server = false

retry_join = [
{% for host in groups['nomad_servers'] %}
    "{{ hostvars[host]['ansible_host'] }}"{% if not loop.last %},{% endif %}
{% endfor %}
]

ports {
  http  = 8500
  https = 8501
  grpc  = 8502
}

{% if enable_tls | default(false) %}
tls {
  defaults {
    ca_file   = "{{ tls_output_dir }}/ca.crt"
    cert_file = "{{ tls_output_dir }}/cert.crt"
    key_file  = "{{ tls_output_dir }}/key.key"

    verify_incoming = false
    verify_outgoing = true
  }

  internal_rpc {
    verify_server_hostname = true
  }
}
{% endif %}

leave_on_terminate = true
