datacenter = "dc1"
data_dir = "{{ consul_data_dir }}"
bind_addr = "{{ ansible_host }}"
client_addr = "0.0.0.0"
advertise_addr = "{{ ansible_host }}"
ui = {{ consul_ui | lower }}

server = true
bootstrap_expect = {{ consul_bootstrap_expect }}

retry_join = [
{% for host in groups['nomad_servers'] %}
    "{{ hostvars[host]['ansible_host'] }}"{% if not loop.last %},{% endif %}
{% endfor %}
]

# Recommended production settings
enable_script_checks = false
leave_on_terminate = true
reconnect_timeout = "8h"
performance {
  raft_multiplier = 1
}
ports {
  grpc  = 8502
  http  = 8500
  https = 8501
  dns   = 8600
  serf_lan = 8301
  serf_wan = 8302
  server = 8300
}

{% if enable_tls | default(false) %}
tls {
  defaults {
    ca_file   = "{{ tls_output_dir }}/ca.crt"
    cert_file = "{{ tls_output_dir }}/cert.crt"
    key_file  = "{{ tls_output_dir }}/key.key"

    verify_incoming = true
    verify_outgoing = true
  }

  internal_rpc {
    verify_server_hostname = true
  }
}
{% endif %}

acl {
  enabled = false
}

