data_dir     = "{{ nomad_data_dir }}"
bind_addr    = "0.0.0.0"
log_level = "DEBUG"

acl {
  enabled = false
}

client {
  enabled = true

  # network_interface = "enp4s3"

  servers = [
{% for host in groups['nomad_servers'] %}
    "{{ hostvars[host]['ansible_host'] }}"{% if not loop.last %},{% endif %}
{% endfor %}
  ]
}
plugin "cni" {
  config {
    cni_bin_dir    = "/opt/cni/bin"
    cni_config_dir = "/etc/cni/net.d"
  }
}

plugin "docker" {
  config {
  volumes {
    enabled      = true
    selinuxlabel = "z"
      }
  }
}

consul {
  address              = "127.0.0.1:8500"
  auto_advertise       = true
  client_service_name  = "nomad-client"
  ssl                  = {{ enable_tls | default(false) | lower }}
{% if enable_tls | default(false) %}
  ca_file              = "{{ tls_output_dir }}/ca.crt"
  cert_file            = "{{ tls_output_dir }}/cert.crt"
  key_file             = "{{ tls_output_dir }}/key.key"
{% endif %}
}

{% if enable_tls | default(false) %}
tls {
  http = true
  rpc  = true

  ca_file   = "{{ tls_output_dir }}/ca.crt"
  cert_file = "{{ tls_output_dir }}/cert.crt"
  key_file  = "{{ tls_output_dir }}/key.key"

  verify_server_hostname = true
}
{% endif %}

advertise {
  http = "{{ ansible_host }}:4646"
  rpc  = "{{ ansible_host }}:4647"
  serf = "{{ ansible_host }}:4648"
}

vault {
  enabled = {{ vault_enabled | default(true) | lower }}
  address = "http://{{ vault_addr | default('127.0.0.1') }}:8200"
  role    = "nomad"
  path    = "jwt-nomad"
}

telemetry {
  collection_interval        = "5s"
  prometheus_metrics         = true
  publish_allocation_metrics = true
  publish_node_metrics       = true
  disable_hostname           = false
}
